body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #E83E8C;
    padding: 40px auto 42px;
}

/* nav .container-fluid {
    display: flex;
    justify-content: space-between;
} */

.navbar-brand img {
    width: 8.25rem;
    height: 3.3rem;
}

h1 {
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    color: #707070;
    margin: 2.6rem 3.8rem 1.8rem;
}
/* Main */
/* Payment */
.payment {
    display: none;
    background-color: #17A2B8;
    padding: 3.6rem 7.5rem;
}

.payment h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
}

/* Footer */
.footer {
    background-color: #E83E8C;
    padding: 3.6rem;
    text-align: center;
}

.footer img {
    width: 2.25rem;
    height: 4.2rem;

}

@media screen and (min-width: 992px) {
    h1 {
        margin: 4rem auto 4.8rem;
        font-size: 3.75rem;
    }

    .payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer {
        padding: 1.9rem 0 3.3rem;
    }

    .footer img {
        width: 3.3rem;
        height: 6.25rem;
    }
}
